@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: fit-content;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

body .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

body .right .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin: auto auto;
    width: 100%;
    gap: 1rem;
    font-size: 2rem;
}

body .right .top img {
    height: 8rem;
}

body .right .top img:last-child {
    height: 11rem;
    margin-left: -2.2rem;
    padding-bottom: 1rem;
}

body .right .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 2rem;
}

body .right .middle h1 {
    font-size: 2rem;
}

/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2.5em;
    font-size: 1em;
    border-radius: 3em;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch label {
    display: block;
    width: 100%;
    height: 100%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 3em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.slider::before {
    position: absolute;
    content: "";
    width: 2em;
    height: 2em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: #38b8a7;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color 0.3s ease;
    transform: perspective(800px) rotateY(0deg) rotateX(0deg);
}

.slider::after {
    position: absolute;
    content: "";
    width: 0.8em;
    height: 0.8em;
    left: 50%;
    bottom: 0.5em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.3);
    transform: translate(-50%, 50%) scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.toggle-switch input[type="checkbox"]:checked+.slider {
    background-color: #f2f2f2;
    box-shadow: 0 0.3em 0.3em rgba(244, 68, 68, 0.2);
}

.toggle-switch input[type="checkbox"]:checked+.slider::before {
    transform: translateX(2.5em) perspective(800px) rotateY(180deg) rotateX(360deg);
    background-color: #f44;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.toggle-switch input[type="checkbox"]:checked+.slider::after {
    transform: translate(-50%, 50%) scale(1);
}

canvas {
    position: fixed;
    z-index: -1;
}

.Event_detail_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 0.4rem;
    background-color: rgba(38, 38, 38, 0.507);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    position: absolute;
    display: none;
    max-width: 300px;
}

.Event_detail_card .top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Event_detail_card .top h1 {
    font-size: 1.4rem;
    margin: 0.4rem;
}

.Event_detail_card ul {
    margin: 0.3rem;
}

.Event_detail_card .top span {
    font-size: 1.6rem;
}

.Event_detail_card a {
    color: white;
    font-size: 1rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.2rem;
}

body .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}

body .right .logo {
    width: 400px;
}

body .right span {
    color: white;
    font-size: 1.1rem;
}

@media (max-width:900px) {
    body {
        height: 100vh;
    }

    body .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20rem;
        display: none;
        width: 100%;
        overflow-y: overlay;
    }

    body .content .right {
        width: 100%;
    }



    body .content .left svg {
        transform: scale(1.2);
    }

}

#ead {
    display: block;
}

#lsm {
    display: none;
}